.mail {
    color: white;
    position: relative;
    top: 14px;
    text-decoration: none;
    transition: 0.2s;
}

.mail:hover {
    color: #b9509f;
}
.mail-icon{
     color: #b9509f;
}


.head-body{
    background-color: #2d353f ;
}

.heading{
    margin: 40px;
    color: white;
}

.main-bg{
    background-image: url(../img/1.webp);
}
.text2{
    color: #b9509f;
}
.items4{
    position: relative;
    top: 20px;
}

.button1 {
    background: linear-gradient(#b9509f, #b9509f);
    background-size: 0% 100%;
    background-position: left center;
    background-repeat: no-repeat;
    background-color: #2d353f;
    font-size: 1.125rem;
    font-weight: 700;
    padding: 1.15rem 2.5rem;
    border-radius: 10px;
    color: white;
    text-transform: capitalize;
    transition: all 0.4s ease-in-out;
    display: inline-block;
    border: 1px solid #b9509f;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

/* Hover effect */
.button1:hover {
    background-size: 100% 100%;
    color: white; /* keep or change if needed */
}


.button2 {
    background: linear-gradient(#2d353f, #2d353f );
    background-size: 0% 100%;
    background-position: left center;
    background-repeat: no-repeat;
    background-color: #b9509f;
    font-size: 1.125rem;
    font-weight: 700;
    padding: 1.2rem 3rem;
    border-radius: 10px;
    color: white;
    text-transform: capitalize;
    transition: all 0.4s ease-in-out;
    display: inline-block;
    border: 1px solid #2d353f;
    position: relative;
    z-index: 1;
    overflow: hidden;
    margin: 20px;
}

/* Hover effect */
.button2:hover {
    background-size: 100% 100%;
    color: white; /* keep or change if needed */
}

.right-img{
    position: relative;
    top:    100px;
    left: 210px;
}

.text1{
    margin-top: 40px;
}

.swiper {
  width: 100%;
  height: auto;
}

.swiper-slide img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.swiper-button-next,
.swiper-button-prev {
  color: #000;
}

.swiper-pagination-bullet {
  background: #000;
}



